.fa-google-plus-square:before {
    content: "\f0d4";
    color: #C12822;
}

.fa-chevron-circle-right:before {
    content: "\f138";
    color: #C12822;
}

.fa.fa-facebook-square.fa-3x:before {
    color: #C12822;
}

.fa.fa-twitter-square.fa-3x:before {
    color: #C12822;
}

.responsive img {
    width: auto;
    height: auto;
}

.nav-pills > li.active > a,.nav-pills > li.active > a:focus,.nav-pills > li.active > a:hover {
    color: #333;
}

.nav-pills > li > a {
    border-radius: 0 !important;
}

.col-xs-12.my-custom {
    border-top: 1px solid #ccc;
}

form.search-form.custom-search {
    margin-bottom: 15px !important;
}

.navbar-left.my-logo {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.my-cta {
    margin-top: 7.5%;
    padding: 3px 10px;
}

.container-fluid.search-bar {
    background-color: #000;
    padding-top: 10px;
}

.form-control.custom-search {
    padding: 15px 19px;
    height: 50px;
    border-radius: 0px !important;
}

.search-form.custom-search {
    -margin-top: 8%;
}

.btn.btn-success-outline.make-btn {
    padding: 6px 59px;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: #BE251F;
    color: #fff;
}

.fa-2x {
    font-size: 1.5em;
}

.cart-icon {
    font-size: 20px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

/*.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px,-100px) rotate(180deg);
    -ms-transform: translate(460px,-100px) rotate(180deg);
    transform: translate(460px,-100px) rotate(180deg);
    -webkit-transition: all .2s .4s ease-in-out;
    transition: all .2s .4s ease-in-out;
}*/

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 20px 0 0;
    background-color: transparent;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition-delay: 0;
    transition-delay: 0;
    -webkit-transform: translate(0px,0px);
    -ms-transform: translate(0px,0px);
    transform: translate(0px,0px);
}

.hovereffect:hover h2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: .5s;
    transition-delay: .5s;
}

.hovereffect:hover a.info {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.breadcrumb.custom-bread {
    margin-bottom: 15px;
    background-color: #C12822;
    border-radius: 0;
    padding: 2px 15px;
}

.list-group-item.category-list {
    padding: 5.3px 15px;
    border-radius: 0;
    font-size: 16.5px;
}

.btn {
    border-radius: 0 !important;
}

.footer-col {
    margin-top: 20px;
    margin-bottom: 25px;
}

.well.email-cta {
    border-radius: 0;
    margin-bottom: 45px;
}

.custom-h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.img-featured {
    margin-bottom: 15px;
}

.left.carousel-control.arrow-l {
    background-image: none;
}

.right.carousel-control.arrow-r {
    background-image: none;
}

.carousel-caption .btn {
    text-shadow: none;
    width: 155px !important;
    margin: 0 auto;
    padding: 15px 15px;
    background-color: #BE251F;
    color: #fff;
}

.banner-headings {
    padding-bottom: 25px;
}

.fa.fa-shopping-cart.icon-cstm {
    font-size: 18px;
}

.list-group-item.category-list.automotive {
    background-color: #C12822;
    color: #FFF;
    padding: 7.5px 15px;
}

.col-md-2.footer-col.col-custom {
    width: 20%;
}

.strip-titles {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.strip-col {
    margin-top: 35px;
    margin-bottom: 20px;
}

.container-fluid.email-section {
    padding-top: 35px;
	margin-top: 35px;
    padding-bottom: 35px;
    background-color: #000;
}

#basic-addon2 {
    border-radius: 0;
}

.col-lg-3.col-md-4.col-sm-6.col-xs-12.sidebar-section {
    margin-bottom: 30px;
}

.navbar.right-nav {
    margin-bottom: 0;
}

li.active {
    background-color: #BE251F;
}

/********************************************
    FEATURED ITEMS SLIDER
********************************************/

.featured_slider{
    margin-right: 2px;
    padding: 3px;
    margin-top: 20px;
}
.featured_slide {
    border: 1px solid #333;
    margin-right: 38.5px;
    max-width: 220px;
}
.product_title {
    width: 100%;
    background-color: #3d71bc;
    font-family: 'Open Sans';
    font-size: 14px;
    color: white;
    padding: 18px;
}

.product_title-best {
    width: 100%;
    background-color: #c80002;
    font-family: 'Open Sans';
    font-size: 14px;
    color: white;
    padding: 18px;
}

.product_title_link {
    color: white;
}
.product_title_link:hover {
    color: white;
}
.featured_slide .product_image {
}

.center-block.img-responsive {
    padding-top: 25px;
    padding-bottom: 25px;
}

.product_image {
    position: relative;
}

.product_image .overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product_image:hover > .overlay {
    display: block;
    cursor: pointer;
}
/*** END ***/

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000 !important;
}

.navbar-inverse .navbar-toggle {
    border-color: #1d1d1d;
}

.navbar-toggle {
    border-radius: 0 !important;
    border: 1px solid #333;
    margin-right: 0 !important;
}

.navbar-toggle .icon-bar {
    background-color: #333 !important;
}

.form-group.has-feedback {
    margin-bottom: 12px;
}

.active > a {
    color: #fff !important;
}

.nav > li > a:focus,.nav > li > a:hover {
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
}

/*** CAROUSEL STYLING ***/

.price {
    display: block;
    color: #fff;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.btn-block {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.fa-shopping-cart:before {
    content: "\f07a";
    color: #BE251F;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 18px;
    color: #222 !important;
}

.title {
    text-align: center;
    padding-top: 35px;
    color: #fff;
}

.container-fluid.search-bar.make-bar {
    border-bottom: 3px solid #fff;
}

.nav-justified>li {
    display: table-cell;
    background-color: #fff;
    border-right: 1px solid #000;
    width: 1%;
}

li.active {
    background-color: #BE251F !important;
}

#myTab {
    float: left;
}

.container-fluid.tabs-section {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #000;
}

.tab-content>.active {
    display: block;
    color: #fff;
}

.box {
    background: #fff;
    margin: 0 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 0;
    border-left: none;
    border-right: none;
    border-top: none;
}

#mainImage {
    padding-top: 10px;
    margin-top: 20px; 
}

#relatedGallery {
    padding-top: 20px;
}

.col-xs-12.related-heading {
    padding-bottom: 25px;
}

.breadcrumb.product-bread {
    padding: 0;
    border-radius: 0;
    background-color: #fff;
}

.details-title {
    padding-top: 10px;
}

#productMain {
    margin-bottom: 35px;
    margin-top: 25px;
}

#exampleSelect2 {
    height: 50px;
}

.product-price {
    font-size: 35px;
    color: #da0b0b;
    font-weight: 700;
}

.btn.btn-template-main.add-cart-btn {
    padding: 14px 35px;
}

.btn.btn-template-main.checkout-btn {
    padding: 14px 35px;
    color: #fff;
    background-color: #ce1212;
}

li.active-section > a {
    color: #ce0202;
}

.input-lg {
    height: 40px !important;
}

#thumbnails ul li {
    float: left;
    margin-left: -15px !important;
}

.tab-content.cstm-tab {
    padding-top: 20px;
}

#relatedGallery .img-thumbnail {
    border: 0px solid;
}

#sd-ebay-media-gallery img {
    max-width: 100px;
}

#sd-ebay-media-photo {
    max-width: 370px;
}

/*************** LIGHT BOX ***************/
/********************************************/
.lb-container {
    margin-top: 30%;
}

/*************** MEDIA QUIRIES ***************/
/********************************************/

/* Extra Small Devices,Phones */
@media only screen and (min-width: 480px) {
    
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .carousel {
        height: 300px;
    }

    .tab-content {
        padding-top: 30px;
    }

    .btn.btn-success-outline.make-btn {
        padding: 6px 55px;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 15px;
        background-color: #BE251F;
        color: #fff;
    }

    .featured_slider {
        width: 225px !important;
        border: 1px solid #ccc;
        margin: 0 auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .nav {
        position: relative;
        margin: 20px 0 0;
        border-top: 1px solid #ccc;
        float: right;
    }

    .my-cta {
        margin-top: 3.5%;
        padding: 3px 0;
        float: right;
    }

    .col-xs-12.col-sm-3.col-md-4.sidebar-section {
        padding-bottom: 45px;
    }

    #leftSlide {
    border: 1px solid #333;
    margin-left: -13px;
    margin-right: 17px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    
}

@media only screen and (max-width: 320px) {

    .input-group-addon {
        display: none;
    }
    
    .col-xs-12.col-md-2.col-sm-3.barBox {
        padding-bottom: 15px;
    }

    #collapseOne {
    padding: 15px;
    }

    .btn.btn-md.btn-default.btn-block {
        margin-top: 8px;
    }

    .email_h4 {
        text-align: center;
    }

    .stBadge {
        display: none !important;
    }
    
    .btn.btn-success-outline.make-btn {
        padding: 6px 55px;
        border-radius: 0;
    }

    .form-control {
        padding: 6px 22px;
    }

    .carousel-caption.banner-heading {
        padding-bottom: 60px;
    }

    .banner-headings {
        font-size: 23px;
    }

    .btn.btn-success-outline.make-btn {
        padding: 6px 55px;
    }

    .my-cta {
        font-size: 18px;
        text-align: center;
    }

    .col-md-6.col-xs-6.logo-box {
        margin-top: 25px;
    }

    .navbar-header {
        margin-bottom: 15px;
    }

    .container-fluid.search-bar {
        border-top: 5px solid #fff;
    }

    .page-header {
        padding-bottom: 9px;
        margin: 30px 0 20px;
        border-bottom: 1px solid #eee;
    }

    .col-lg-3.col-md-4.col-sm-6.col-xs-12.sidebar-section {
        margin-bottom: 20px;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        margin: 0 auto;
    }

    .btn-block {
        display: block;
        width: 73% !important;
        margin: 0 auto;
    }

    .box {
        margin: 40px 0 30px !important;
    }

    #exampleSelect2 {
        height: 50px;
        width: 65%;
        margin: 0 auto;
    }

    .btn.btn-template-main.checkout-btn {
        padding: 14px 25px !important;
        color: #fff;
        background-color: #ce1212;
    }

    .btn.btn-template-main.add-cart-btn {
        padding: 14px 15px !important;
    }

    .col-md-3.col-xs-12.quantity-col {
        margin-bottom: 15px !important;
    }

    #myTabMobile {
        float: none;
    }

    #productMain {
        margin-bottom: 35px;
        margin-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-col {
        margin-top: 0;
        margin-bottom: 0;
    }
}