﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Batist Automotive | Online Car Parts | Seller</title>

    <link rel="stylesheet" href="http://cdn.e-motiveonline.com/batist-automotive/css/lightbox.min.css">

    <!-- BOOTSTRAP CORE CSS -->
    <link href="http://cdn.e-motiveonline.com/batist-automotive/css/bootstrap.min.css" rel="stylesheet">

    <!-- CUSTOM FONTS -->
    <link href="http://cdn.e-motiveonline.com/batist-automotive/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- CUSTOM CSS -->
    <link href="http://cdn.e-motiveonline.com/batist-automotive/css/modern-business.css" rel="stylesheet">
    <link href="http://cdn.e-motiveonline.com/batist-automotive/css/style.css" rel="stylesheet">
    <link href="http://cdn.e-motiveonline.com/batist-automotive/css/lightbox.css" rel="stylesheet">

    <script type="text/javascript">
<<<<<<< HEAD
      <!--
          function addScript(url) {
            var src = "src=";
            document.write("<s");
            document.write("cript type='text/javascript'"+src+url+">");
            document.write('</s'+'cript>');
          }

        -->
=======
        function addScript(url) {
            var src = "src=";
            document.write("<s");
            document.write("cript type='text/javascript'" + src + url + ">");

            document.write('</s' + 'cript>');
        }
>>>>>>> 9987093ecb1ecc3db0399f18b838c5e83c94caf0
    </script>


    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/jquery.cycle2.js');</script>
    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/jquery.cycle2.carousel.js');</script>
    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/slider.js');</script>
    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/list-consumer-sidebar.js');</script>
    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/jquery.js');</script>
    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/bootstrap.js');</script>
    <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/bootstrap.min.js');</script>
    <script type="text/javascript"> addScript('http://www.nencheff.com/batist/js/script.js');</script>
</head>

<body>

    <div class="container">
<<<<<<< HEAD
    <div class="row">
        <div class="col-md-6 col-xs-6 logo-box">

            <!-- LOGO BEGINS -->
            <a class="navbar-left my-logo" href="http://stores.ebay.com/batistautomotive/"><img height="95px" src="http://cdn.e-motiveonline.com/batist-automotive/imgs/logo.jpg" width="155px"></a>
        </div><!-- ENDS LOGO -->
        
        <div class="col-md-6">
            <div class="row">
                <!-- CALL NOW PHONE BEGINS -->
                <div class="col-xs-12 col-md-7 col-sm-6">
                    <h4 class="my-cta">
                        CALL US TODAY! <a href="tel:18003612961">1800 3612 961</a>
                    </h4>
                </div><!-- ENDS CTA PHONE -->

       <!--- SEARCH BAR =-->
        <div class="col-xs-12 col-sm-6 col-md-5 search-bar">
                    <form action="http://cdn.e-motiveonline.com/batist-automotive/" class="search-form custom-search" method="get">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="SEARCH.." />
                    <span class="input-group-btn">
                        <button class="btn btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
                    </form>
        </div><!--- END SEARCH =-->
=======
        <div class="row">
            <div class="col-md-6 col-xs-6 logo-box">
                <!-- LOGO BEGINS -->
                <a class="navbar-left my-logo" href="http://stores.ebay.com/batistautomotive/"><img height="98px" src="http://cdn.e-motiveonline.com/batist-automotive/imgs/logo.jpg" width="156px"></a>
            </div><!-- ENDS LOGO -->

            <div class="col-md-6">
                <div class="row">
                    <!-- CALL NOW PHONE BEGINS -->
                    <div class="col-xs-12 col-md-7 col-sm-6">
                        <h4 class="my-cta">
                            CALL NOW! <a href="tel:18003612961">{{ sd_option('business_phone') }}</a>
                        </h4>
                    </div><!-- ENDS CTA PHONE -->
                    <!--- SEARCH BAR =-->
                    <div class="col-xs-12 col-sm-6 col-md-5">
                        <form action="http://stores.ebay.com/batistautomotive/_i.html" class="search-form custom-search" method="get">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input  name="_nkw" type="text" class="form-control input-lg" placeholder="SEARCH.." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-lg" type="button">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div><!--- END SEARCH =-->
>>>>>>> 9987093ecb1ecc3db0399f18b838c5e83c94caf0

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="navbar right-nav">
                            <div class="navbar-header">
                                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active"><a href="http://stores.ebay.com/batistautomotive/">HOME</a></li>
                                    <li><a href="http://stores.ebay.com/batistautomotive/aboutus">ABOUT US</a></li>
                                    <li><a data-target=".navbar-collapse.in" data-toggle="collapse" href="http://stores.ebay.com/batistautomotive/parthers">OUR PARTNERS</a></li>
                                    <li><a data-target=".navbar-collapse.in" data-toggle="collapse" href="http://stores.ebay.com/batistautomotive/contact">CONTACT US</a></li>
                                </ul>
                            </div><!--NAV COLLAPSE ENDS -->
                        </div>
                    </div>
                </div>
            </div><!-- END OF ROW -->
        </div><!-- END OF ROW -->
    </div><!-- END OF HEADER CONTAINER -->
    <!-- CUSTOM SEARCH/MAKE BAR -->
    <div class="container-fluid search-bar make-bar">
<<<<<<< HEAD
    <form action="http://cdn.e-motiveonline.com/batist-automotive/" class="search-form custom-search" method="get">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 visible-xs">
                    <h3 style="color:#fff">START SEARCHING</h3>
                </div>
                <div class="col-md-2 col-sm-3">
                    <select class="form-control custom-select" id="makeBar1">
                        <option>Make</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <!-- END SELECTION OPTION  -->

                <!-- START SELECTION OPTION -->
                <div class="col-md-2 col-sm-3">
                    <select class="form-control custom-select" id="makeBar2">
                        <option>Model</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <!-- END SELECTION OPTION -->

                <!-- START SELECTION OPTION -->
                <div class="col-md-2 col-sm-3">
                    <select class="form-control custom-select" id="makeBar3">
                        <option>Shape</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <!-- END SELECTION OPTION -->

                <!-- START SELECTION OPTION -->
                <div class="col-md-2 col-sm-3">
                    <select class="form-control custom-select" id="makeBar4">
                        <option>Year</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <!-- END SELECTION OPTION -->

                <!-- START SELECTION OPTION -->
                <div class="col-md-2 col-sm-5">
                    <select class="form-control custom-select" id="makeBar5">
                        <option>Category</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <!-- END SELECTION OPTION -->

                <!-- START SEARCH BUTTON -->
                <div class="col-md-2 col-sm-4">
                    <button class="btn btn-success-outline make-btn" type="submit" style="font-size:12px;"">Search</button>
=======
        <form action="http://cdn.e-motiveonline.com/batist-automotive/" class="search-form custom-search" method="get">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 visible-xs">
                        <h3 style="color:#fff">START SEARCHING</h3>
                    </div>
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control custom-select" id="makeBar1">
                            <option>Make</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <!-- END SELECTION OPTION  -->
                    <!-- START SELECTION OPTION -->
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control custom-select" id="makeBar2">
                            <option>Model</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <!-- END SELECTION OPTION -->
                    <!-- START SELECTION OPTION -->
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control custom-select" id="makeBar3">
                            <option>Shape</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <!-- END SELECTION OPTION -->
                    <!-- START SELECTION OPTION -->
                    <div class="col-md-2 col-sm-3">
                        <select class="form-control custom-select" id="makeBar4">
                            <option>Year</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <!-- END SELECTION OPTION -->
                    <!-- START SELECTION OPTION -->
                    <div class="col-md-2 col-sm-5">
                        <select class="form-control custom-select" id="makeBar5">
                            <option>Category</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <!-- END SELECTION OPTION -->
                    <!-- START SEARCH BUTTON -->
                    <div class="col-md-2 col-sm-4">
                        <button class="btn btn-success-outline make-btn" type="submit">Search</button>
                    </div>
                    <!-- END SEARCH BUTTON -->
>>>>>>> 9987093ecb1ecc3db0399f18b838c5e83c94caf0
                </div>
            </div>
            <!-- CONTAINER ENDS -->
        </form>
    </div>
    <!-- CONTAINER FLUID ENDS -->
    <!-- 3 COLUMN SECTION -->
    <div class="container-fluid search-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 strip-col col-custom text-center">
                    <img src="http://cdn.e-motiveonline.com/batist-automotive/imgs/icon1.png" />
                    <p class="strip-titles">SECURE PAYMENTS</p>
                </div>

                <div class="col-md-6 col-sm-4 strip-col col-custom text-center">
                    <img src="http://cdn.e-motiveonline.com/batist-automotive/imgs/icon2.png" width="118px" />
                    <p class="strip-titles">SAME DAY DISPATCH</p>
                </div>

                <div class="col-md-3 col-sm-4 strip-col col-custom text-center">
                    <img src="http://cdn.e-motiveonline.com/batist-automotive/imgs/icon3.png" width="118px" />
                    <p class="strip-titles">FAST DELIVERY</p>
                </div>

            </div>
        </div>
        <!-- CONTAINER ENDS -->
    </div>
    <!-- CONTAINER FLUID ENDS -->
    <!-- PAGE CONTENT -->
    <div class="container">

        <!-- CONTENT ROW -->
        <div class="row">

            <!-- *** MAIN SECTION *** -->
<<<<<<< HEAD
           <div class="col-md-12">
            <div class="row" id="productMain">
                <div class="col-sm-6">
                    <div id ="mainImage">
                   <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/functions.js');</script>
            <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/lightbox-plus-jquery.js');</script>
                   [%EBAY_PHOTO%]
                    </div>
                    <!-- *** LIGHTBOX GALLERY *** -->
                    <div class="row" id="relatedGallery">                   
                        <div class="col-md-4">

                            <div class="img-thumbnail">

                                {% if {{data.media1}} %}

                                <div class="img-thumbnail">
                                    <a href = {{ data.media1 }}>
                                        <img src = {{ data.media1 }}/>
                                    </a>
                                </div>

                                {% endif %}

                            </div>
                        </div>

                        <div class="col-md-4">
                        
                          [%EBAY_MEDIA%]
                           
=======
            <div class="col-md-12">
                <div class="row" id="productMain">
                    <div class="col-sm-6">
                        <div id="mainImage">
                            <a href="#">
                                <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/functions.js');</script>
                                <script type="text/javascript"> addScript('http://cdn.e-motiveonline.com/batist-automotive/js/lightbox-plus-jquery.js');</script>
                                [%EBAY_PHOTO%]
                            </a>
                        </div>
                        <!-- *** LIGHTBOX GALLERY *** -->
                        <div class="row" id="relatedGallery">
                            <div class="col-md-12">
                                <div class="img-thumbnail">
                                    [%EBAY_THUMB%]
                                </div>
                            </div>
>>>>>>> 9987093ecb1ecc3db0399f18b838c5e83c94caf0
                        </div>
                    </div>

<<<<<<< HEAD
                        <div class="col-md-4">

                            </div>                                    
                    </div> 
                </div>
                
                <!-- *** RIGHT COLUMN PRODUCT INFO *** -->
                <div class="col-sm-6">
                    <div class="box" id="details">
                        <ol class="breadcrumb product-bread" style="margin-bottom: 5px;">

                          <li><a href="#">Home</a></li>
                          <li><a href="#">Mazda</a></li>
                          <li class="active-section"><a href="#">Spark Plugs for Mazda Vehicles</a></li>
                          <li><a href="#">ZJY6-18-110 Spark Plug Mazda</a></li>
                        </ol>

                        <h3 class="details-title">[%EBAY_TITLE%]</h3>
                        <div>[%EBAY_DETAILS%] [%EBAY_LONGDESCRIPTION%]</div>
                        <p class="product-price">{{ sd_content('price') }}</p>
                    </div>                       
                </div>
           </div>
        </div>
        <!-- *** END ROW CONTENT *** -->
=======
                    <!-- *** RIGHT COLUMN PRODUCT INFO *** -->
                    <div class="col-sm-6">
                        <div class="box" id="details">
                            <ol class="breadcrumb product-bread" style="margin-bottom: 5px;">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Mazda</a></li>
                                <li class="active-section"><a href="#">Spark Plugs for Mazda Vehicles</a></li>
                                <li><a href="#">ZJY6-18-110 Spark Plug Mazda</a></li>
                            </ol>

                            <h3 class="details-title">[%EBAY_TITLE%]</h3>

                            <div>[%EBAY_DETAILS%] [%EBAY_LONGDESCRIPTION%]</div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- *** END ROW CONTENT *** -->

>>>>>>> 9987093ecb1ecc3db0399f18b838c5e83c94caf0
        </div>
        <!-- *** END CONTAINER *** -->
    </div>

<<<<<<< HEAD
=======
    <!-- *** TABS DESKTOP *** -->
    <div class="container-fluid tabs-section hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-5 col-sm-12 col-xs-12">
                    <ul class="nav nav-justified tabs-info" id="myTab">
                        <li class="active">
                            <a data-target="#home" data-toggle="tab">RETURN POLICY</a>
                        </li>
                        <li>
                            <a data-target="#profile" data-toggle="tab">PRIVACY POLICY</a>
                        </li>
                        <li>
                            <a data-target="#messages" data-toggle="tab">REQUIRMENTS</a>
                        </li>
                        <li>
                            <a data-target="#settings" data-toggle="tab">SHIPPING RATES</a>
                        </li>
                    </ul>
                </div>

                {% set ebay_policy_returns = sd_option('ebay' ~ data.instanceid ~ '_policy_returns') %}
                <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
                    <div class="tab-content cstm-tab">
                        <div class="tab-pane active" id="home">
                            {% if ebay_policy_returns %}
                            {{ ebay_policy_returns }}
                            {% else %}
                            Generic policy return
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="profile">
                            2Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        </div>
                        <div class="tab-pane" id="messages">
                            3Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        </div>
                        <div class="tab-pane" id="settings">
                            4Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- **** CONTAINER FLUID ENDS **** -->
    <!-- **** TABS DESKTOP END **** -->
    <!-- *** TABS FOR MOBILE *** -->
    <div class="container-fluid tabs-section visible-xs">
        <div class="row">
            <div class="col-xs-12">

                <div id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    RETURN POLICY
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    PRIVACY POLICY
                                </a>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    SHIPPING POLICY
                                </a>
                            </h4>
                        </div>

                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- *** CONTAINER FLUID ENDS *** -->

>>>>>>> 9987093ecb1ecc3db0399f18b838c5e83c94caf0
</body>
</html>